pep8:
    rpm_deps: [ python-neutronclient ]
    remove_rpm: [ python-neutronclient ]
    run: tox --sitepackages -v -e pep8 2>&1 | tee ../logs/testrun.log;

unittest:
    rpm_deps: [ python-neutronclient,
                python-cliff-tablib,
                python-mox3,
                python-oslotest,
                python-requests-mock ]
    remove_rpm: [ python-neutronclient ]
    run: tox --sitepackages -v -e py27 2>&1 | tee ../logs/testrun.log;

functional:
    rpm_deps: [ python-oslotest,
                python-testresources,
                openstack-neutron-vpnaas ]
    remove_rpm: []
    run: tox --sitepackages -v -e functional 2>&1 | tee ../logs/testrun.log;

# hostvars[inventory_hostname] is a special ansible variable to get all host's facts
# tester.name can be one of the following: [unittest, pep8, dsvm-functional]

# Common rpm deps needed for all tester types
rpm_deps: [ gcc,
            git,
            python-devel,
            python-tox,
            python-testrepository,
            python-mock,
            python-pip,
            python-testscenarios,
            python-tempest-lib,
            python-hacking,
            "{{ hostvars[inventory_hostname][tester.component.tox_target]['rpm_deps'] }}" ]

# The rpms that shouldn't be installed when running tests
remove_rpm: [ "{{ hostvars[inventory_hostname][tester.component.tox_target]['remove_rpm'] }}" ]

# Common pre-run steps and archiving used by all tester types
neutronclient_virt_run_config:
  run: >
    set -o pipefail;
    truncate --size 0 requirements.txt;
    truncate --size 0 test-requirements.txt;
    {{ hostvars[inventory_hostname][tester.component.tox_target]['run'] }}

  archive:
    - ../logs/testrun.log

# This is the main section
test_config:
  virt:
    RedHat-7:
      setup:
        install: "{{ rpm_deps }}"
        remove: "{{ remove_rpm }}"
      run: "{{ neutronclient_virt_run_config.run }}"
      archive: "{{ neutronclient_virt_run_config.archive }}"