[client]
user=root
password={{ db_root_password }}

[mysqld]
bind-address=0.0.0.0
sql_mode=STRICT_ALL_TABLES
default-storage-engine=InnoDB
max_connections=1024
query_cache_type=OFF
query_cache_size=0
