[project]
	description = Ansible roles for Openstack Component Testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arie Bregman (bregman-arie)
[access "refs/for/refs/*"]
	read = group rdo-ci-group
	read = group user/Arie Bregman (bregman-arie)
	read = group user/Sorin Sbarnea (ssbarnea)
	push = group user/Arie Bregman (bregman-arie)
	label-Code-Review = -2..+2 group rdo-ci-group
	label-Code-Review = -2..+2 group user/Arie Bregman (bregman-arie)
	label-Code-Review = -2..+2 group user/David Sariel (dsariel)
	label-Code-Review = -2..+2 group user/Michal Pryc (mpryc)
	label-Code-Review = -2..+2 group user/Sorin Sbarnea (ssbarnea)
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group user/Arie Bregman (bregman-arie)
	label-Verified = -1..+1 group user/David Sariel (dsariel)
	label-Verified = -1..+1 group user/Michal Pryc (mpryc)
	label-Verified = -1..+1 group user/Sorin Sbarnea (ssbarnea)
	rebase = group rdo-ci-group
	rebase = group user/Arie Bregman (bregman-arie)
	rebase = group user/Sorin Sbarnea (ssbarnea)
	removeReviewer = group rdo-ci-group
	removeReviewer = group user/Arie Bregman (bregman-arie)
	removeReviewer = group user/Sorin Sbarnea (ssbarnea)
	submit = group rdo-ci-group
	submit = group user/Arie Bregman (bregman-arie)
	submit = group user/Michal Pryc (mpryc)
[access "refs/heads/*"]
	read = group rdo-ci-group
	read = group user/Arie Bregman (bregman-arie)
	read = group user/Sorin Sbarnea (ssbarnea)
	create = group rdo-ci-group
	create = group user/Arie Bregman (bregman-arie)
	create = group user/Sorin Sbarnea (ssbarnea)
	push = group rdo-ci-group
	push = +force group user/Arie Bregman (bregman-arie)
	pushMerge = group rdo-ci-group
	pushMerge = group user/Arie Bregman (bregman-arie)
	submit = group rdo-ci-group
	label-Code-Review = -2..+2 group rdo-ci-group
	label-Code-Review = -2..+2 group user/Sorin Sbarnea (ssbarnea)
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group user/David Sariel (dsariel)
	label-Verified = -1..+1 group user/Sorin Sbarnea (ssbarnea)
[access "refs/tags/*"]
	push = group rdo-ci-group
	push = +force group user/Arie Bregman (bregman-arie)
	createTag = group rdo-ci-group
	createTag = group user/Arie Bregman (bregman-arie)
	createTag = group user/Sorin Sbarnea (ssbarnea)
	createSignedTag = group rdo-ci-group
	createSignedTag = group user/Arie Bregman (bregman-arie)
	createSignedTag = group user/Sorin Sbarnea (ssbarnea)
