[project]
	description = Ansible roles for Openstack Component Testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arie Bregman (bregman-arie)
[access "refs/for/refs/*"]
	read = group rdo-ci-group
	read = group user/Arie Bregman (bregman-arie)
	push = group user/Arie Bregman (bregman-arie)
	label-Code-Review = -2..+2 group rdo-ci-group
	label-Code-Review = -2..+2 group user/Arie Bregman (bregman-arie)
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group user/Arie Bregman (bregman-arie)
	rebase = group rdo-ci-group
	rebase = group user/Arie Bregman (bregman-arie)
	removeReviewer = group rdo-ci-group
	removeReviewer = group user/Arie Bregman (bregman-arie)
	submit = group rdo-ci-group
	submit = group user/Arie Bregman (bregman-arie)
[access "refs/heads/*"]
	read = group rdo-ci-group
	read = group user/Arie Bregman (bregman-arie)
	create = group rdo-ci-group
	create = group user/Arie Bregman (bregman-arie)
	push = group rdo-ci-group
	push = +force group user/Arie Bregman (bregman-arie)
	pushMerge = group rdo-ci-group
	pushMerge = group user/Arie Bregman (bregman-arie)
	submit = group rdo-ci-group
	label-Code-Review = -2..+2 group rdo-ci-group
	label-Verified = -1..+1 group rdo-ci-group
[access "refs/tags/*"]
	push = group rdo-ci-group
	push = +force group user/Arie Bregman (bregman-arie)
	pushTag = group rdo-ci-group
	pushTag = group user/Arie Bregman (bregman-arie)
	pushSignedTag = group rdo-ci-group
	pushSignedTag = group user/Arie Bregman (bregman-arie)
