ansible==2.9.7
appdirs==1.4.3
cffi==1.14.0
colorlog==4.1.0
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.9.2
distlib==0.3.0
enum34==1.1.10
filelock==3.0.12
gitdb2==2.0.6
GitPython==2.1.15
importlib-metadata==1.6.0
importlib-resources==1.5.0
ipaddress==1.0.23
Jinja2==2.11.2
MarkupSafe==1.1.1
octario==1.0.0
packaging==20.3
pathlib2==2.3.5
pluggy==0.13.1
py==1.8.1
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.3.1
scandir==1.10.0
singledispatch==3.4.0.3
six==1.14.0
smmap==3.0.2
smmap2==3.0.1
toml==0.10.0
tox==3.14.6
typing==3.7.4.1
virtualenv==20.0.18
zipp==1.2.0

