---
# This task will register all repos on the system to disable each one of them
# with the second task.
- name: Register all the repositories
  shell: find /etc/yum.repos.d -name "*.repo"
  register: yum_repos
  changed_when: False

- name: Disable any existing repos
  become: yes
  become_method: sudo
  replace:
    dest: "{{ item }}"
    regexp: "enabled=1"
    replace: "enabled=0"
  with_items: "{{ yum_repos.stdout_lines | default() }}"

# rhos-release used for installing the rhos repos.
- name: Install rhos-release
  become: yes
  retries: 3
  delay: 10
  yum:
    name: "http://download.lab.bos.redhat.com/rcm-guest/puddles/OpenStack/rhos-release/rhos-release-latest.noarch.rpm"
    validate_certs: no
    disable_gpg_check: yes
  register: task_result
  until: task_result is success

- name: Execute rhos-release to install rhos repos
  vars:
    component_version: "{{ component.version | default(rhos_default_version) }}"
    component_repo: "{{ component.repo | default(component_version) }}"
    component_version_director: "{{ (component_version|int in [7, 8, 9]) |
    ternary(component_version + '-director', '') }}"
  become: yes
  shell: |
    {{ rhos_release_bin }} -x
    {{ rhos_release_bin }} {{ component_repo }} {{ component_version_director }}
  args:
    warn: no
  changed_when: true
  tags:
    - skip_ansible_lint

- name: enable yum-config-manager
  become: yes
  retries: 3
  delay: 10
  package:
    name: yum-utils
  register: task_result
  until: task_result is success

# -test-deps are the COPR test deps.
# avoid use of yum_repository module because we would lose the ability
# to use rhos-release logic, like repo locations. We want to avoid maintenance.
- name: compute the test repositories prefix
  set_fact:
     test_repo_prefix: "rhelosp-{{ component.version }}{{ (not '.' in component.version)|ternary('.0','') }}"

- name: enable test repositories
  become: yes
  shell: |
    set -euo pipefail
    {% if component.version|int > 14 %}
      dnf config-manager --set-enabled \
      {{ test_repo_prefix }}-unittest \
      >> /var/log/dnf.log
    {% else %}
      yum-config-manager \
      --enable {{ test_repo_prefix }}-unittest \
      --enable {{ test_repo_prefix }}-test-deps \
      >> /var/log/yum.log
    {% endif %}
  changed_when: true
