# Octario configuration file
# ===========================

# ======= Must be included =========

component:
  name: neutron
  config_file_name: jenkins-config.yml
  version: 9

# Internal RHOS release server hostname or IP address

#rhos_release_server: <rhos_release_server_address>

# ======= Optional variables =========
 
# Specify component path if component is not in octario's root directory
# component:
#   path: /my/component/is/here

# Skip converting and fetching logs tasks.
# Note: this is not under component variable
# convert_fetch_logs: no 
