# This file handles everything related to packaging.

- name: Disable any repos specified
  become: yes
  yum_repository:
    name: "{{ item }}"
    enabled: no
  with_items: "{{ component_config.setup.disable_repos | default([]) }}"
  when: component_config.setup | default(false) and component_config.setup.disable_repos | default(false)
  register: result
  changed_when: "result.rc != 0"

- name: Enable any additional repos to be used
  become: yes
  yum_repository:
    name: "{{ item }}"
    state: present
    enabled: yes
  with_items: "{{ component_config.setup.enable_repos | default([]) }}"
  when: component_config.setup | default(false) and component_config.setup.enable_repos | default(false)

- name: Print summary of all the repositories enabled on the host
  shell: "{{ yum_bin }} repolist all"
  changed_when: false
  tags:
    - skip_ansible_lint

- name: Install test dependencies RPMs needed to run the tests
  become: yes
  yum: pkg="{{ item }}" state=latest
  with_items: "{{ component_config.setup.install | default([]) }}"
  when: component_config.setup | default(false) and component_config.setup.install | default(false)

- name: Remove unwanted rpms
  become: yes
  become_method: sudo
  yum: pkg="{{ item }}" state=absent
  with_items: "{{ component_config.setup.remove | default([]) }}"
  when: component_config.setup | default(false) and component_config.setup.remove | default(false)

- name: Install packages needed for converting and collecting the logs
  become: yes
  become_method: sudo
  yum: name="{{ logs_packages }}" state=present
  when: "{{ convert_fetch_logs | default(false) }}"
