# This file is used by the jenkins job

# Dependencies with explicit versions are provided by the copr repository.

# (migi) flake8 and bash are added to tox.ini for removing ugly warning:
#        WARNING:test command found but not installed in testenv
pep8:

    rpm_deps: [
      python-flake8-2.1.0,
      python-hacking-0.10.1
    ]

    remove_rpm: []

    run:
        sed -i '/\[testenv\:pep8\]/a whitelist_externals = flake8\n   bash' tox.ini;
        export PBR_VERSION=`awk '/version = / {print $3; exit}' setup.cfg`;
        tox --sitepackages -v -e pep8 2>&1 | tee ../logs/testrun.log;


# (migi) python-ceilometer is installed and then removed to satisfy all runtime
#        dependencies for the ceilometer component.
# (migi) python-gabbi must be <=1.13.0 to satisfy httplib2 requirement
unittest:

    rpm_deps: [
        python-ceilometer,
        python2-requests-aws-0.1.8,
        python-testtools-1.8.0,
        python-unittest2-1.0.1,
        python-testscenarios-0.4,
        python-webtest-2.0.19,
        python-colorama-0.3.2,
        python2-jsonpath-rw-ext-1.0.0,
        python2-wsgi_intercept-1.2.2,
        python-gabbi-1.13.0,
        python-testrepository,
        python-mock,
        mongodb-server,
        python-oslotest,
        python-oslo-messaging,
        python-novaclient,
        python-oslo-db,
        python-neutronclient,
        python-httplib2,
        python-tooz,
        python-pymongo,
        python-kafka,
        python-swiftclient,
        python-glanceclient,
        python-paste-deploy,
        python-pecan,
        python-oslo-policy,
        python-keystonemiddleware,
        python-wsme,
        python-ceilometerclient
    ]

    remove_rpm: [
      python-ceilometer
    ]

    run:
        export PBR_VERSION=`awk '/version = / {print $3; exit}' setup.cfg`;
        tox --sitepackages -v -e py27 2>&1 | tee ../logs/testrun.log;


# Common rpm deps needed for all tester types (pep8 / unittest / functional)
rpm_deps: [
    git,
    python-pbr-0.10.8,
    python-pep8-1.5.7,
    python-pip-1.5.6,
    python-virtualenv-1.11.6,
    python-tox-1.8.1,
    python-thrift-0.9.0,
    python-happybase-0.6,
    "{{ hostvars[inventory_hostname][tester.component.tox_target]['rpm_deps'] }}"
]


# The rpms that shouldn't be installed when running tests
remove_rpm: [
    "{{ hostvars[inventory_hostname][tester.component.tox_target]['remove_rpm'] }}"
]


# (N.B.) We truncate *requirements.txt to ensure we're only using installed
#        non-test packages.
#
# Common pre-run steps and files to archive
ceilo_virt_run_config:

    run: >
        truncate --size 0 requirements.txt;
        truncate --size 0 test-requirements.txt;
        {{ hostvars[inventory_hostname][tester.component.tox_target]['run'] }}

    archive:
        - ../logs/venv-testrun.log
        - all-rpms.txt


# NOTE: This is the main section. It must exist.
test_config:
  virt:
    RedHat-7:
      setup:
        install: "{{rpm_deps}}"
        remove: "{{remove_rpm}}"
      run: "{{ceilo_virt_run_config.run}}"
      archive: "{{ceilo_virt_run_config.archive}}"
