- name: Run Octario - Unit tests
  hosts: tester
  vars:
    tester:
      component:
        tox_target: py27
  roles:
    - { role: setup_repos }
    - { role: setup_environment }
    - { role: install_packages }
    - { role: run_tests }
    - { role: collect_logs }
